<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings 
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:SCHOOL</property>
        <property name="connection.username">zakir</property>
        <property name="connection.password">zakir</property>-->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
 
       <!-- Mention here all the model classes along with their package name -->
	   <mapping class="com.accolite.school.model.Student"/>

    </session-factory>
</hibernate-configuration>





<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"></property>
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;Database=School"></property>
		<property name="username" value="sa"></property>
		<property name="password" value="accolite">
		</property>
	</bean>

	Hibernate 3 XML SessionFactory Bean definition
	<bean id="hibernate3SessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> <property name="mappingResources"> 
		<list> <value>person.hbm.xml</value> </list> </property> <property name="hibernateProperties"> 
		<value> hibernate.dialect=org.hibernate.dialect.MySQLDialect </value> </property> 
		</bean>

	Hibernate 3 Annotation SessionFactory Bean definition
	<bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.accolite.schoolmanagement.model.Student</value>
				<value>com.accolite.schoolmanagement.model.StudentAddress</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.accolite.schoolmanagement.controller"/>
	</bean>

	<bean id="studentDAO" class="com.accolite.schoolmanagement.dao.StudentDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
		
	</bean>
	
	
</beans> -->